## Ignorar todo por defecto
*

## Excepciones: permitir src y bin
!src/
!bin/
!Enunciados/

## Ignorar todo dentro de src y bin, excepto sus contenidos
src/*
bin/*
Enunciados/*
!src/**
!bin/**
!Enunciados/**
/bin/
